@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-mainColor: #0f172a;
  --color-high: #475569;
  --color-med: #64748b;
  --color-low: #94a3b8;

  --color-tech-blue: #2563eb;
  --color-tech-green: #16a34a;
  --color-tech-purple: #9333ea;
  --color-tech-orange: #ea580c;
  --color-tech-cyan: #0891b2;
}
