@import "tailwindcss";
@plugin "daisyui";

@layer base {
  body {
    margin: 0 16px;
  }

  @media (min-width: 768px){
    body {
        margin: 0 32px;
    }

    @media (min-width: 1024px)
    {
        body {
            margin: 0 40px;
        }
    }
  }
}