@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-mainColor: #0f172a;
  --color-high: #475569;
  --color-med: #64748b;
  --color-low: #94a3b8;

  --color-tech-blue: #2563eb;
  --color-tech-purple: #9333ea;
  --color-tech-cyan: #0891b2;

  --color-brand-start: #2563eb;
  --color-brand-middle: #06b6d4;
  --color-brand-end: #8b5cf6;
}
